.container {
  margin-top: 75px;
  width: $container-product;
  height: 320px;
  border: 2px $yellow solid;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  @include below-sm {
    width: 100%;
  }
  img {
    @include below-sm {
      width: 100%;
    }
    object-fit: contain;
  }
}

.fleches{
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  gap: 5px;
  position: absolute;
  right: 0;
  align-items: flex-start;
  justify-content: flex-start;
}