.container {
  width: 480px;
  font-family: rubik-regular;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.title {
  font-family: courgette-regular;
  color: $red;
  font-size: $font-size-4;
}

.input {
  border: 2px solid $yellow;
  color: $black;
  padding: 20px 10px;
  font-family: rubik-regular;
}

.rowInput {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.lineError {
  color: $red;
  font-family: rubik-medium;
}

.button {
  background-color: $yellow;
  color: $red;
  cursor: pointer;
  outline: inherit;
  font-family: courgette-regular;
  font-size: $font-size-4;
  padding: 5px 0;
  border: none;
}

.forgetPassword {
  color: $red !important;
  font-family: rubik-light-italic;
}
