.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.dialog {
  position: relative;
  z-index: 50;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dialogPanel {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 40%;
    flex-direction: column;
    background-color: $white;
    padding: 0 10px;
    box-shadow: -7px 4px 15px -3px rgba(0, 0, 0, 0.1);

    .dialogContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-family: rubik-medium;
        color: $black;
        margin-top: 15px;
        background: url('../../../../public/images/page-acceuil/SurlignementAvantages.png');
        font-family: courgette-regular;
        color: $red;
        margin: 0 auto;
        margin-top: 40px;
        font-size: $font-size-4;
      }
    }
    .containerItems {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .subContainerItems {
        overflow: auto;
        padding: 1.5rem;
        flex-grow: 1;
      }
      .price {
        width: 110px;
        text-align: right;
        display: flex;
        gap: 5px;
        justify-content: flex-end;

        .amount {
          font-family: rubik-medium;
          color: $red;
          gap: 5px;
        }
      }

      .itemsQuantity {
        display: flex;
        flex-direction: column;
      }
    }
    .cartItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid $yellow;
      border-left: 1px solid $yellow;
      border-right: 1px solid $yellow;
      justify-content: space-between;
      padding-right: 25px;
      font-size: $font-size-3;
      &:last-child {
        border-bottom: 1px solid $yellow;
      }
    }

    .imageContainer {
      position: relative;
      cursor: pointer;
      overflow: hidden;

      .imageModal {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .titleProduct {
      display: flex;
      flex: 1 1;
      flex-direction: row;
      min-width: 100px;
      gap: 10px;
      min-width: 250px;
      color: $red;
    }

    .itemRow {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
    }
    .variantItem {
      width: 50px;
    }
    .buttonRow {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    .quantity {
      min-width: 15px;
      text-align: center;
      font-family: rubik-medium;
    }
  }
}
.colorText {
  color: $red;
  font-family: rubik-regular;
}
.closeButton {
  @include square(20px);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}

.totalShippingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.totalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .total {
    color: $red;
    font-family: rubik-medium;
    font-size: $font-size-3;
  }
}

.closeIcon {
  border-radius: 50%;
  @include square(20px);
  background-color: $yellow;
  color: $red;
  padding: 5px;
}

.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-3;
  background-color: $yellow;
  color: $red !important;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px;
  max-width: 200px;
}

.panier {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-2;
  text-decoration: underline;
  color: $red;
  cursor: pointer;
  padding: 10px;
}

.emptyCart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  .phrase {
    color: $red;
  }
}

.transitionEnter {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.transitionEnterFrom {
  opacity: 0;
  backdrop-filter: blur(0);
}

.transitionEnterTo {
  opacity: 1;
  backdrop-filter: blur(0.8px);
}

.leave {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.enterFromSub {
  --transform-translate-x: 100%;
}

.enterToSub {
  --transform-translate-x: 0;
}

.leaveSub {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.leaveFromSub {
  --transform-translate-x: 0;
}

.leaveToSub {
  --transform-translate-x: 100%;
}

.childTransition {
  position: fixed;
  inset: 0;
  opacity: 100;
}
