.container {
  width: $md-width;
  margin: auto;

  .title {
    width: 500px;
    margin: auto;
    color: $red;
    text-align: center;
    background: url('../../../../public/images/page-acceuil/SurlignementAvantages.png') no-repeat
      center;
    height: 50px;
    margin-bottom: 50px;
    font-size: $font-size-6;

    @include below-md {
      font-size: $font-size-4;
      width: 100%;
      height: inherit;
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;

    @include below-md {
      flex-direction: column;
    }
  }

  @include below-md {
    width: 100%;
  }
}
